@font-face {
  font-family: 'Sf Pro Display';
  src: url('fonts/SF-Pro-Display-Thin.woff') format("woff");
  font-weight: 200;
}

@font-face {
  font-family: 'Sf Pro Display';
  src: url('fonts/SF-Pro-Display-Light.woff') format("woff");
  font-weight: 300;
}

@font-face {
  font-family: 'Sf Pro Display';
  src: url('fonts/SF-Pro-Display-Regular.woff') format("woff");
  font-weight: 400;
}

@font-face {
  font-family: 'Sf Pro Display';
  src: url('fonts/SF-Pro-Display-Medium.woff') format("woff");
  font-weight: 500;
}

@font-face {
  font-family: 'Sf Pro Display';
  src: url('fonts/SF-Pro-Display-Semibold.woff') format("woff");
  font-weight: 600;
}

@font-face {
  font-family: 'Sf Pro Display';
  src: url('fonts/SF-Pro-Display-Bold.woff') format("woff");
  font-weight: 700;
}

@font-face {
  font-family: 'Sf Pro Display';
  src: url('fonts/SF-Pro-Display-Black.woff') format("woff");
  font-weight: 800;
}

@font-face {
  font-family: 'Sf Pro Display';
  src: url('fonts/SF-Pro-Display-Heavy.woff') format("woff");
  font-weight: 900;
}